# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ODSyncUtil
/ODSyncUtil/x64/Debug
/x64/Debug
/packages/rapidjson.1.0.2
/ODSyncUtil/Release
/ODSyncUtil/x64/Release
/Release
/x64/Release
/ODSyncUtil-32-bit.zip
/ODSyncUtil-64-bit.zip
/ODSyncUtil/ODSyncUtil.aps
/.vs
*.tlog
*.log
*.idb
*.pdb
/ODSyncLib/x64/Debug
/ODSyncLib/RCa28944
/ODSyncLib/RCb34924
/ODSyncLib/RCc34924
/ODSyncLib/RCd34924
/ODSyncLib/RCa34924
/ODSyncLib/RCe34924
